@model GeniesCoffeeShop.Models.Orders
@{
    ViewBag.Title = "OrderSummary";
}

<h2>OrderSummary</h2>

Welcome, @Model.FirstName @Model.LastName!
<br />
You orderd a @Model.DrinkSize @Model.DrinkSelection.
<br />
You chose @Model.UserChoice
<br />
@Html.Raw(ViewBag.PickUpMessage)
<br />
@ViewBag.DeliveryMessage
